<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d.main.bank.dao.MetadateDAO">

    <resultMap id="MetadateDTOResultMap" type="com.d.main.bank.model.MetadateDTO">
                <id column="id" property="id" jdbcType="INTEGER" />
                <result column="name" property="name" jdbcType="VARCHAR"/>
                <result column="value" property="value" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="findDtoSql">
        select * from  metadate
    </sql>

    <sql id="parameterSql">
        <if test="id != null">
            AND id =  #{id}
        </if>
        <if test="name != null">
            AND name =  #{name}
        </if>
        <if test="value != null">
            AND value =  #{value}
        </if>
    </sql>

    <sql id="sortSql">
        <if test="sortName != null">
            ORDER BY #{sortName}  #{sortRule}
        </if>
                <if test="sortName == null">
                    ORDER BY id ASC
                </if>
    </sql>

    <select id="findDTOById" parameterType="String" resultMap="MetadateDTOResultMap">
        <include refid="findDtoSql"></include>
        <where>
            <include refid="parameterSql"></include>
        </where>
        <include refid="sortSql"></include>
    </select>

    <select id="selectAll" parameterType="com.d.main.bank.model.Metadate" resultMap="MetadateDTOResultMap" >
        <include refid="findDtoSql"></include>
        <where>
            <include refid="parameterSql"></include>
        </where>
        <include refid="sortSql"></include>
    </select>

    <insert id="createMetadate" >
        insert into metadate(name,value) value
        <foreach collection="list" item="co" open="" separator="," close="">
            (
                #{co.name},
                #{co.value}
            )
        </foreach>

    </insert>

    <update id="updateMetadate" parameterType="com.d.main.bank.model.MetadateDTO" >
        update metadate set value = #{value} where name = #{name};
    </update>

</mapper>