<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d.main.dao.BankDAO">


    <resultMap id="BankDTOResultMap" type="com.d.main.model.BankDTO">
                <id column="id" property="id" jdbcType="INTEGER" />
                <result column="kid" property="kid" jdbcType="INTEGER"/>
                <result column="course" property="course" jdbcType="VARCHAR"/>
                <result column="title" property="title" jdbcType="VARCHAR"/>
                <result column="content" property="content" jdbcType="VARCHAR"/>
                <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
                <result column="creator" property="creator" jdbcType="VARCHAR"/>
                <result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP"/>
                <result column="modifer" property="modifer" jdbcType="VARCHAR"/>
                <result column="version" property="version" jdbcType="VARCHAR"/>
                <result column="level" property="level" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="findDtoSql">
        select <include refid="resultSql"></include> from  bank
    </sql>

    <sql id="resultSql">
                id  ,
                kid  ,
                course  ,
                title  ,
                content  ,
                createTime  ,
                creator  ,
                modifyTime  ,
                modifer  ,
                version  ,
                level 
    </sql>

    <sql id="parameterSql">
                <if test="id != null">
                    AND id =  #{id}
                </if>
                <if test="kid != null">
                    AND kid =  #{kid}
                </if>
                <if test="course != null">
                    AND course =  #{course}
                </if>
                <if test="title != null">
                    AND title =  #{title}
                </if>
                <if test="content != null">
                    AND content =  #{content}
                </if>
                <if test="createTime != null">
                    AND createTime =  #{createTime}
                </if>
                <if test="creator != null">
                    AND creator =  #{creator}
                </if>
                <if test="modifyTime != null">
                    AND modifyTime =  #{modifyTime}
                </if>
                <if test="modifer != null">
                    AND modifer =  #{modifer}
                </if>
                <if test="version != null">
                    AND version =  #{version}
                </if>
                <if test="level != null">
                    AND level =  #{level}
                </if>
    </sql>

    <sql id="sortSql">
        <if test="sortName != null">
            ORDER BY #{sortName}  #{sortRule}
        </if>
                <if test="sortName == null">
                    ORDER BY id ASC
                </if>
    </sql>

    <select id="findDTOById" parameterType="String" resultMap="BankDTOResultMap">
        <include refid="findDtoSql"></include>
        <where>
            id = #{_parameter}
        </where>
    </select>

    <select id="selectAll" parameterType="com.d.main.model.Bank" resultMap="BankDTOResultMap" >
        <include refid="findDtoSql"></include>
        <where>
            <include refid="parameterSql"></include>
        </where>
        <include refid="sortSql"></include>
    </select>

    <select id="selectByCourse" parameterType="com.d.main.model.Bank" resultMap="BankDTOResultMap">
        <include refid="findDtoSql"></include>
        <where>
            course = #{course}
            <if test="level != null">
                AND level = #{level}
            </if>
        </where>
        ORDER BY createTime DESC
    </select>
</mapper>